<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <FineUI DebugMode="false" />
  <connectionStrings>
    <add name="AuthorizationEntities" connectionString="metadata=res://*/Authorization_BASE.csdl|res://*/Authorization_BASE.ssdl|res://*/Authorization_BASE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=win-75li3vr2cmb;initial catalog=XF.MIS.Authorization;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="CorpName" value="行业协会" />
    <add key="SystemCode" value="0260DFC4FAF0416387CA3F22AAC916F0" />
    <add key="UserServiceCode" value="565ab40d-e58b-4be1-95d0-63082f4b634b" />
    
    <!--<add key="SSOUrl" value="http://10.20.53.240:8091/default.aspx" />
    <add key="MainUrl" value="http://10.20.53.240:8091/NewHall.html" />-->
    <add key="SSOUrl" value="http://localhost:8031/SSOSite/default.aspx" />
    <add key="MainUrl" value="http://localhost:8031/SSOSite/NewHall.html" />
    <add key="ESB_BaseAddress" value="http://112.124.47.38:8083/" />
    <add key="ESB_RequestUri" value="api/Services" />
    
    <!--各平台登出页面-->
    <add key="EngineeringLogoutUrl" value="http://localhost:8031/Engineering/Logout.aspx" />
    <add key="MaintenanceLogoutUrl" value="http://localhost:8031/Maintenance/Logout.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableSessionState="true">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/Verify.aspx" timeout="120" defaultUrl="~/Index.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="Ajax">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>